.rei
{
    background-color: yellow;
    color:blue;
    
}


.gojuu 
{
    background-color: springgreen;
    color:appworkspace;
    
}
.hyaku{background-color:#ccc; color: #000;}
.hyakugojuu {background:top; color:thistle ;}
.nihyaku {background: turquoise; color:#000 ;}


