/* @override 
	http://10.0.1.200/~stevesunderland/teatrocirculo.org/assets/templates/teatro_default/css/style.css
	http://stevesunderland.com/~teatroci/assets/templates/teatro_default/css/style.css
*/

@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #191919 url(../img/bg_pattern.jpg) fixed;
	height: 100%;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	padding: 0 20px;
	min-height: 100%;
	position: relative;
		background-image: url(../img/bg_shadow2.png);
}

#header {
	width: 880px;
	padding: 10px 10px 8px;
	float: left;
	z-index: 100;
	position: relative;
}

#logo {
	float: left;
}

#logo img {
	border: none;
}

#nav {
	margin-top: 10px;
	width: 510px;
	float: right;
}
#nav ul {
	list-style-type: none;
	float: right;
	margin: 0;
	padding: 0;
}
#nav li {
	float: left;
	margin-right: 15px;
}

hr {
	border-style: none;
	border-bottom: 2px solid #7f7f7f;
	margin-top: 20px;
	margin-bottom: 20px;
}



#sidebar img:after {
}

div.image {
	margin-bottom: 20px;

}
div.image img {
	margin-bottom: 5px;
	width: 230px;
	height: inherit;
	border: 10px solid #7f7f7f;
}

div.image p {
	margin: 0;
	font-size: 12px;
	text-transform: uppercase;
}

#nav li a {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
a:visited {
	color: #ccc;
}

#header #nav li a:hover {
	color: #fff;
}
#header #nav li.active a {
	color: #fff;
}


#image {
	padding-top: 250px;
	margin: 0;
	clear: both;
	position: relative;
	z-index: 10;
	opacity: 0;
}

#content {
	background-image: url(../img/bg_trans.png);
	padding: 30px;
	width: 840px;
	display: -moz-inline-block;
	display: inline-block;
	margin: 0 0 100px;
	position: relative;
}

body.home #content {
	margin-top: 139px;
}

span.label {
	width: 100px;
	display: block;
	text-transform: uppercase;
	float: left;
}

#contactForm p input, #newsletterForm p input {
	width: 200px;
	padding: 3px;
	background-color: #333;
	border-style: groove;
	color: #ccc;
	font-size: 15px;
	border-color: #4c4c4c;
}

#contactForm p {
	margin-bottom: 5px;
}

#contactForm {
	margin-bottom: 20px;
	padding-bottom: 1px;
	border-bottom: 2px solid #666;
}

#newsletterForm form p {
	margin-bottom: 5px;
}

div.errors {
	color: #fdff5e;
	font-size: 15px;
	line-height: 150%;
	margin-bottom: 20px;
}

#contactForm textarea {
	padding: 3px;
	background-color: #333;
	border-style: groove;


	color: #ccc;
	font-size: 15px;
	width: 420px;
	vertical-align: top;
	border-color: #333;
}

#contactForm input#submit:hover, #newsletterForm input#submit:hover {
	margin-left: 100px;
	background-color: #00d5d5;
	color: #fff;
}

#contactForm input#submit, #newsletterForm input#submit {
	margin-left: 100px;
	background-color: #004040;
	height: 35px;
	margin-top: 3px;
	width: 205px;
}

div.float {
}

#content div.inner {
	width: 550px;
	float: right;
}

#sidebar {
	float: right;
	width: 250px;
	margin-left: 30px;
}

#sidebar ul li a {
	color: #999;
	text-decoration: none;
	font-size: 20px;
	display: block;
	line-height: 20px;
	border-bottom: 1px none #4c4c4c;
	padding-top: 5px;
	margin-bottom: 10px;
	padding-left: 5px;
	text-transform: uppercase;
}

div.news_text {
	border-bottom-style: solid;
	border-bottom-color: #4c4c4c;
}

div.news_item {
	margin-top: -20px;
	padding-bottom: 0;
	margin-bottom: 20px;
}

#sidebar ul li.active a, #sidebar ul li a:hover {
	color: #e6e6e6;
}

#footer {
	color: #000;
	padding: 10px;
	width: 880px;
	position: absolute;
	bottom: 0;
	z-index: 200;
}

#ee_listDetailsContainer  div.buytickets a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
}

#ee_listDetailsContainer div.easyEventsDetailsBox div.easyEventsDetailsDetails div.buytickets a {
	font-size: 20px;
}

#ee_listDetailsContainer div.easyEventsDetailsBox div.easyEventsDetailsDetails div.buytickets {
	margin-bottom: 20px;
}

div#logo_small {
}

#footer div.inner {
	width: 880px;
	margin: 0;
}

#footer div.left {
	float: left;
	margin-right: 20px;
}

#footer div.right {
	float: right;
}

#footer div.left p, #footer div.right p {
	margin: 0;
	font-size: 12px;
}

#footer div.right a:hover {
	color: #fff;
}

div.LCOS_title {
	display: none;
}

ul.LCOS_list, ul#ss, #sidebar ul {
	padding: 0;
	margin: 20px 0 0;
	list-style-type: none;
	width: 250px;
}

div.current ul#ss {
	margin-bottom: 0;
}

#buytickets form, #buytickets p {
	float: left;
	width: 250px;
}
#buytickets form {
	margin-bottom: 0;
}

div.tix {
	clear: both;
	float: left;
	width: 100%;
}

#buytickets p {
	clear: both;
	font-size: 20px;
	margin-bottom: 0;
}

#buytickets h3 {
	color: #fff;
	font-size: 25px;
}

p.small {
	text-align: right;
	font-size: 10px;
	margin-top: -20px;
	margin-bottom: 0;
}

p.small a {
	text-decoration: none;
}

div.shows_text img {
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	border: 10px solid #666;
}

h2.shows_pageTitle {
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 0;
}

h2.news_pageTitle {
	padding-top: 20px;
}

div.shows_item {
	margin-bottom: 20px;
	padding-bottom: 1px;
	border-bottom: 2px solid #4c4c4c;
}

span.LCOS_current {
	display: block;
	padding-top: 5px;
	margin-bottom: 10px;
	padding-left: 5px;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
}

div.current ul#ss a {
	font-size: 15px;
	line-height: 15px;
	color: #fff;
}


div.current span.LCOS_current {
	margin-bottom: -12px;
}

div.easyEventsList_item {
	margin-bottom: 5px;
	border-bottom: 2px solid #333;
	text-transform: uppercase;
}

div.easyEventsList_title {
	font-size: 20px;
	margin-bottom: 10px;
}

div.easyEventsList_time, div.easyEventsDetailsTime {
	color: #999;
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 10px;
	font-style: normal;
	margin-top: 10px;
}

div#ee_listDetailsContainer div.easyEventsList_heading h2 {
/	color: #999;
/	font-size: 15px;
/	font-weight: bold;
/	margin-bottom: 5px;
	margin-top: 0;
}

#ee_listDetailsContainer h2 {
	font-size: 30px;
}

div.easyEventsDetailsPermalink {
	font-size: 10px;
	text-transform: uppercase;
}

div.ee_miniCalendar {
	color: #4c4c4c;
	float: right;
}

div.ee_miniCalendar a {
	text-decoration: none;
	padding: 5px;
}

table.ee_miniCalendarNav tbody {
	text-align: center;
}

td.ee_miniCalMonth {
	width: 155px;
	display: block;
	font-size: 25px;
	color: #999;
	text-transform: uppercase;
}

table.ee_miniCalendarNav {
	border-bottom: 2px solid #333;
	padding-bottom: 5px;
}

td.ee_miniCalNext, td.ee_miniCalPrev {
	font-size: 25px;
	font-weight: normal;
	font-style: normal;
	width: 20px;
}

#ee_miniCalendarContainer div.ee_miniCalendar table.ee_miniCalendarDays thead tr {
	font-size: 12px;
	color: #999;
}

div.ee_miniCalendar a:hover {
	text-decoration: none;
	color: #fff;
}

table.ee_miniCalendarDays {
	font-size: 15px;
	line-height: 15px;
		background-image: url(../img/bg_trans.png);

}

span.ee_noLinkDay {
	padding: 5px;
	display: block;
	text-align: center;
}

#ee_miniCalendarContainer {
	margin-top: -10px;
	float: right;
}

td.ee_current {
	text-align: center;
}

/* @group TYPE */

a:link, a:active {
	color: #fff;
}

p {
	color: #b3b3b3;
	font-size: 15px;
	line-height: 150%;
	margin-bottom: 20px;
	margin-top: 0;
}

ul {
	color: #b3b3b3;
	font-size: 15px;
	line-height: 100%;
	padding-left: 15px;
	list-style-type: circle;
}

li {
	margin-bottom: 10px;
}




blockquote {
	color: #b3b3b3;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 20px;
	margin-top: 0;
	margin-left: 0;
}

address {
	color: #b3b3b3;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	line-height: 150%;
	text-transform: uppercase;
	padding-left: 20px;
	border-left-style: solid;
	border-left-width: 1px;
}

h2{
	font-size: 20px;
	font-weight: normal;
	color: #4c4c4c;
	text-transform: uppercase;
	line-height: 20px;
	margin-bottom: 10px;
	font-style: normal;
	margin-top: 20px;
}

#sitemap ul {
	list-style-type: none;
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 150%;
}

h3 {
	color: #999;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 20px;
	margin-bottom: 10px;
	font-weight: normal;
	font-style: normal;
	margin-top: 0;
}

h4 {
	color: #999;
	text-transform: uppercase;
	line-height: 25px;
	margin-bottom: 0;
	font-weight: bold;
	margin-top: 0;
	font-size: 15px;
}

h5 {
	
}

h6 {
	
}

div.inner table p {
	font-size: 12px;
	line-height: 100%;
	margin: 0;
}

div.inner table td {
	border-bottom: 1px solid #666;
	padding-top: 10px;
	padding-bottom: 10px;
}

#content div.inner table h4 {
	margin: 0;
	font-size: 10px;
	color: #fff;
	padding: 0;
}

h2.events {
	font-size: 30px;
}

/* @end */

/* @group COLORS */

body.rojo #header, body.rojo #footer {
	background-color: #4F0000;
}

body.rojo #footer {
	border-bottom: 10px solid #b60000;
}

body.rojo h1, body.rojo a:hover, body.rojo #nav li a, body.rojo #footer p, body.rojo #footer a, body.rojo #sidebar li a:hover, body.rojo h2, body.rojo h4 {
	color: #ff0004;

}


body.rosa #header, body.rosa #footer {
	background-color: #4D004D;
}

body.rosa #footer {
	border-bottom: 10px solid #FF00FF;
}

body.rosa h1, body.rosa a:hover, body.rosa #nav li a, body.rosa #footer p, body.rosa #footer a, body.rosa #sidebar li a:hover, body.rosa h2, body.rosa h4 {
	color: #FF00FF;

}



body.violeta #header, body.violeta #footer {
	background-color: #1F004D;
}

body.violeta #footer {
	border-bottom: 10px solid #6900FF;
}

body.violeta h1, body.violeta a:hover, body.violeta #nav li a, body.violeta #footer p, body.violeta #footer a, body.violeta #sidebar li a:hover, body.violeta h2, body.violeta h4 {
	color: #6900FF;
}



body.azul #header, body.azul #footer {
	background-color: #001a43;
}

body.azul #footer {
	border-bottom: 10px solid #0065ff;
}

body.azul h1, body.azul a:hover, body.azul #nav li a, body.azul #footer p, body.azul #footer a, body.azul #sidebar li a:hover, body.azul h2, body.azul h4 {
	color: #0065ff;
}



body.cielo #header, body.cielo #footer {
	background-color: #004040;
}

body.cielo #footer {
	border-bottom: 10px solid #00D5D5;
}

body.cielo h1, body.cielo a:hover, body.cielo #nav li a, body.cielo #footer p, body.cielo #footer a, body.cielo #sidebar li a:hover, body.cielo h2, body.cielo h4 {
	color: #00D5D5;
}



body.verde #header, body.verde #footer {
	background-color: #1a4011;
}

body.verde #footer {
	border-bottom: 10px solid #5bd73e;
}

body.verde h1, body.verde a:hover, body.verde #nav li a, body.verde #footer p, body.verde #footer a, body.verde #sidebar li a:hover, body.verde h2, body.verde h4 {
	color: #5bd73e;
}


body.amarillo #header, body.amarillo #footer {
	background-color: #4C410D;
}

body.amarillo #footer {
	border-bottom: 10px solid #FDD92D;
}

body.amarillo h1, body.amarillo a:hover, body.amarillo #nav li a, body.amarillo #footer p, 
body.amarillo #footer a, body.amarillo #sidebar li a:hover, body.amarillo h2, body.amarillo h4 {
	color: #FDD92D;
}



body.naranja #header, body.naranja #footer {
	background-color: #4D1400;
}

body.naranja #footer {
	border-bottom: 10px solid #FF4300;
}

body.naranja h1, body.naranja a:hover, body.naranja #nav li a, body.naranja #footer p, body.naranja #footer a, body.naranja #sidebar li a:hover, body.naranja h2, body.naranja h4 {
	color: #FF4300;
}


body.gris #header, body.gris #footer {
	background-color: #4d4d4d;
}

body.gris #footer {
	border7f7f7fbottom: 10px solid #FF4300;
}

body.gris h1, body.gris a:hover, body.gris #nav li a, body.gris #footer p, body.gris #footer a, body.gris #sidebar li a:hover,  body.gris h2, body.gris h4 {
	color: #7f7f7f;
}

body div.inner h1{
	font-size: 40px;
	line-height: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-style: normal;
	font-weight: normal;
	color: #ccc;
}

/* @end */






